<%- include('../_layouts/adminheader') %>


<div class="container">
  <h2 class="page-title">Pages</h2>
  <a href="/admin/pages/add-page" class="btn btn-primary">Add Pages</a>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="2">Page Options</th>
      </tr>
    </thead>
    <tbody>
      <% pages.forEach((page)=>{ %>
        <tr>
          <td> <%=page.title%> </td>
          <td> <a href="/admin/pages/edit-page/<%=page._id%>">Edit </a></td>
          <td> <a href="/admin/pages/delete-page/<%=page._id%>">Delete</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>


<%- include('../_layouts/adminfooter') %>
